@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    background:white /* Replace with your image path */
}
/* Header Section */
.header-section {
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: 1.5px solid lightgray;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

/* Left Section (Logo) */
.header-left img {
    width: 90px;
    height: auto;
}

/* Middle Section (Title) */
.header-mid {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.header-mid h1 {
    color: black;
    font-size: 22px;
    margin: 0;
    font-family: 'Poppins';
}

/* Right Section (Button) */
.header-right {
    margin-left: auto;
    padding-right: 20px; /* Ensures spacing */
}

/* Learn More Button */
.learnMore-button {
    background-color: #FFC100;
    color: #FFFFFF;
    border: 2px solid;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    margin-right: 50px;
    margin-top: 8px;
}

.learnMore-button:hover {
    background-color: #fff;
    color: #FFC100;
    border-color: #FFC100;
}

.container {
    width: 90%;
    margin: 30px auto;
    text-align: center;
}
h1 {
    color: #000;
    font-size: 2.5em;
}
p {
    color: #555;
    margin-bottom: 20px;
}
/* Table Styling */
table {
    width: 90%;
    margin: 20px auto;
    margin-top: 20px;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    
}

th {
    background: #ffc100;
    color: black;
    font-weight: bold;
}

tr:hover {
    background: #f1f1f1;
}

/* Price Change Colors */
.change-positive {
    color: green;
    font-weight: bold;
}

.change-negative {
    color: red;
    font-weight: bold;
}

/* Pagination Styling */
.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}

.pagination-button {
    background: #ffc100;
    color: black;
    border: none;
    padding: 10px 14px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
}

.pagination-button:hover {
    background: #e0a800;
}

.pagination-button.active {
    background: black;
    color: white;
    font-weight: bold;
}

.pagination-button:disabled {
    background: #ddd;
    cursor: not-allowed;
}