<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <style>
        body {
            background: url("{{ url_for('static', filename='img/Bg-image.jpg') }}") no-repeat center center fixed;
            background-size: cover;
        }
    </style>
</head>
<body>

    <div class="container">
        <form class="form-box" method="POST" action="{{ url_for('login') }}">
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='img/full-logo.png') }}" alt="Logo" class="logo">
            </a>
            <h2>Welcome Back,</h2>
            <p>Login to continue</p>
            <!-- Display error message if exists -->
            {% if error %}
                <p style="color: red; text-align: center;">{{ error }}</p>
            {% endif %}
            <!-- Display success message if exists -->
            {% if success %}
                <p style="color: green; text-align: center;">{{ success }}</p>
            {% endif %}
            
            

            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <!--<div class="otp-container">
                <input type="text" id="otp" name="otp" placeholder="Enter OTP" disabled required>
                <button type="button" class="btn secondary-btn" id="send-otp">Send OTP</button>
            </div>-->
            <button class="btn primary-btn" type="submit">Login</button>

            <div class="social-buttons">
                <button class="btn google-btn" type="button" onclick="handleGoogleLogin()">
                    <i class="fab fa-google"></i> Login with Google
                </button>
                <button class="btn facebook-btn" type="button" onclick="handleFacebookLogin()">
                    <i class="fab fa-facebook"></i> Login with Facebook
                </button>
            </div>
            <p>If a non-existing user, <a href="{{ url_for('serve_signup') }}">sign up</a></p>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>
